/* COMPILE IT WITH RUBY --- TYPE IN THE CONSOLE: sass --watch src/css/main.scss:src/css/main.css */

// BASE

body {
    font-family: 'Acme', sans-serif;
}

P {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

// LAYOUT

main {
    margin-top: 50px;
    font-size:20px;
}

footer {
    margin-top: 50px;
}

// CUSTOM CLASSES

.pomodoro-body {
    display: flex;
    align-items: center;
    padding-top: 3.5%;
    padding-right: 2.5%; // no padding-right to set it symmetric
    width: 470px;
    height: 470px;
    background-color: #e60000;
    background: linear-gradient(200deg, #900, #e60000); // 180deg to set it symmetric
    box-shadow: 7px 10px 5px 1px gray; /* , 10px 12px 7px 2px black; */ // no box-shadow for symmetry
    border-radius: 50%;
    .outer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 420px;
        height: 420px;
        border-radius: 50%;
        border: 5px solid #e60000; // Should choose a border color that transforms slowly to redish #e60000 (border-image gradient...)
        background-color: red; // in case browser cant handle gradients
        background: radial-gradient(red 61%, white 63%, red 68%); // not sure how gradients work and if it can be better
        margin-left: auto;
        margin-right: auto;
        .inner {
            position: relative;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            background: white url("../../images/clock-no-hands3.png") no-repeat center; // Mozda bi bilo dobro da je bas .svg fajl u pozadini
            background-size: 100%;
            padding: 6% 7.5%;
            &::after { // The dot in the middle of the clock
                content: "";
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: black;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.setup {
    padding: 10% 5%;
    border: 1px solid red;
    background-color: #FFEEEE;
    h4 {
        padding-bottom: 10px;
    }
    p {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    button { // Mozda treba odje regulisat komplet dugme, a ne preko btn btn-danger klasa bootstrapovih
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
}

.timeLeft {
    font-size:25px;
    padding: 10% 5%;
    border: 1px solid red;
    background-color: #FFEEEE;
}

.signatureLuka { // Mislim da ovo nije dobro rjesenje, samo treba da se odradi neki <p> tag ili <h4> tag tom elementu dje je potpis
    font-size: 20px;
}

// SMALL SCREEN ADJUSTMENTS

@media (max-width: 400px) {
    .pomodoro-body .outer {
        width: 290px;
        height: 290px;
        .inner {
            width: 87.5%;
            height: 87.5%;
        }
    }
}

// THE SECONDS HAND

.seconds {
    width: 2%;
    height: 50%;
    background: black;
    position: absolute;
    top: 15%;
    left: 49%;
    transform: rotate(300deg);
    transform-origin: 50% 70%;
}