/* COMPILE IT WITH RUBY --- TYPE IN THE CONSOLE: sass --watch src/css/main.scss:src/css/main.css */

// COLORS

$red-dark: #900;
$red-bloody: #e60000;
$pink-pale: #FFEEEE;

// BASE

body {
    font-family: 'Acme', sans-serif;
    background-color:$pink-pale;
}

P {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

// LAYOUT

header,footer {
    margin-top: 50px;
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

// CUSTOM CLASSES

.pomodoro-body {
    display: flex;
    align-items: center;
    padding-top: 2.5%;
    padding-right: 2.5%;
    width: 470px;
    height: 470px;
    background-color: $red-bloody;
    background: linear-gradient(240deg, $red-dark, $red-bloody);
    box-shadow: 7px 10px 10px 1px gray;
    border-radius: 50%;
    .outer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 420px;
        height: 420px;
        border-radius: 50%;
        border: 5px solid $red-bloody;
        background-color: red; // in case browser cant handle gradients
        background: radial-gradient(red 61%, white 63%, red 68%);
        margin-left: auto;
        margin-right: auto;
        .inner {
            position: relative;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            background: white url("../../images/clock-no-hands3.png") no-repeat center; // Mozda bi bilo dobro da je bas .svg fajl u pozadini
            background-size: 100%;
            padding: 6% 7.5%;
            &::after { // The dot in the middle of the clock
                content: "";
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: black;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.pomodoro-box { // Maybe background-color is not needed here
    font-size:25px;
    padding: 20px 10px;
    border: 1px solid $red-bloody;
/*     background-color: $pink-pale; */
}

.pomodoro-setup {
    h4 {
        padding-bottom: 10px;
    }
    p {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    button {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
}

// THE SECONDS HAND

.seconds { // Needs small adjustments, a little bit to the right, but why?
    width: 2%;
    height: 35%;
    background: black;
    position: absolute;
    top: 30%;
    left: 49%;
    transform-origin: 50% 57.1428571429%; // the percentage is calculated
    
    &::before { // making the hand have a sharp edge
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(0, -100%);
        content: "";
        box-sizing: content-box;
        width: 3px;
        border-top: 0px;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 50px solid black;
    }
    &::after { // giving the hand a stylish tail
        position: absolute;
        top: 100%;
        left:50%;
        transform: translate(-50%, 0%);
        content: "";
        box-sizing: content-box;
        width:100%;
        border-top: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid black;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
}

// SMALL SCREEN ADJUSTMENTS --- PROBLEMS OCCURED DUE TO PROPORTION INCONSISTENCY ON DIFFERENT SCREEN SIZES!!!

@media (max-width: 520px) { // The box shadow keeps the same height, should maybe be proportional to the clock size
    .pomodoro-body {
        width: 290px;
        height:  290px;
        .outer {
            width: 95%;
            height: 95%;
            .inner {
                width:  87.5%;
                height:  87.5%;
            }
        }
    }
    .seconds {
        height: 30% !important;
        width: 4px !important;
        top: 30% !important;
        transform-origin: 50% 66.6666666667% !important; // percentage should be maybe done with calc()
        &::before {
            width: 1px;
            border-left: 1.5px solid transparent;
            border-right: 1.5px solid transparent;
            border-bottom-width: 25px;
        }
    }
}

// CHANGES MADE TO BOOTSTRAP CLASSES

.btn {
    box-shadow: none !important;
    background-color:$red-bloody !important;
}

// CHANGES MADE TO ANIMATE.CSS

.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}